a {
    text-decoration: none;
}
.site-nav {
    display: flex;
    background-color: var(--bg-block);
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
}
.menu-icon {
    display: none;
}
.logo-header {
    max-width: 150px;
}
.logo-header img {
    width: 100%;
}
.menu {
    max-width: 437px;
    width: 100%;
}
.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu ul li a {
    color: var(--white);
    font-weight: 400;
    line-height: 120%;
    font-size: 20px;
    transition: 0.5s;
}
.menu ul li a:hover {
    color: var(--orange);
    transition: 0.5s;
}
.button-call {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border: 1px solid var(--orange);
    border-radius: 8px;
    color: var(--white);
    font-family: var(--inter);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    text-align: left;
    transition: 0.5s;
}
.button-call:hover{
    background-color: var(--orange);
    transition: 0.5s;
}

.button-call img {
    margin-right: 13px;
}
.button-call-menu{
    display: none;
}
.button-call-under-menu{
    display: flex;
}


/*header-light */
.header-light .site-nav{
    background-color: var(--white);
}

.header-light .menu ul li a {
    color: var(--black);
}
.header-light .button-call {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 32px;
    border: 1px solid var(--orange);
    border-radius: 8px;
    color: var(--black);
}
.header-light .button-call:hover{
    background-color: var(--orange);
    transition: 0.5s;

}
.header-light .button-call-menu{
    display: none;
}